@page "/makecharacter"
@using System.Text.RegularExpressions
@using CharacterBuilderShared.Models
@using CharacterBuilderWeb.Services
@inject PlayerApiService playerApiService
@inject CharacterApiService characterApiService
@inject CharRaceApiService charRaceApiService
@inject RaceVarApiService raceVarApiService
@inject CharClassApiService charClassApiService
@inject StatsApiService statsApiService
@inject NavigationManager NavigationManager
@inject CharacterBusiness characterBusiness
@inject ILogger<CharacterCreator> logger
@rendermode InteractiveServer

<PageTitle>Create Character</PageTitle>

<h1>Create a new character!!</h1>

<h3>To begin, please enter your username and pin to validate player!</h3>

<EditForm Model="@character" OnValidSubmit="@HandleValidSubmit">
    <label for="Username" class="form-label">Username</label>
    <InputText id="Username" class="form-control"
               @bind-Value="player.Username" @oninput="CheckValidity" />
    <label for="Pin" class="form-label">Pin</label>
    <InputNumber id="Pin" class="form-control"
                 @bind-Value="player.Pin" @oninput="CheckValidity" />
    @if (!pinvalidated) {
        <div class="alert alert-warning" role="alert">Pin is invalid!</div>
    }
    @if (!usernamevalidated) {
        <div class="alert alert-warning" role="alert">Username is invalid!</div>
    }
    <p>Username: @usernamevalidated</p>
    <p>Pin: @pinvalidated (You may need to reenter / change something in the username field for this to update properly)</p>
@* 
    <button type="submit" asp-page-handler="CheckValidity">Proceed</button> *@


    @* @if (!pinvalidated && !usernamevalidated) {
        <div class="alert alert-warning" role="alert">Username or Pin is invalid!</div>
    }*@
    @if(playervalidated){ 

    <label for="CharName" class="form-label">Character Name</label>
    <InputText id="CharName" class="form-control" @bind-Value="character.CharName" />

    <label for="RaceId" class="form-label">Character Race</label>
    <select id="RaceId" class="form-control" @bind="character.RaceId">
        <option value="null">Select A Race</option>
        @foreach (var race in races) {
            if(race.Starter != "No" || player.Veteran == true) {
                <option value="@race.Id">@race.RaceName</option>
            }
        }
    </select>

    <select id="ClassId" class="form-control" @bind="character.ClassId">
        <option value="null">Select A Class</option>
        @foreach (var charclass in classes) {
            if (charclass.Starter != "No" || player.Veteran == true) {
                <option value="@charclass.Id">@charclass.ClassName</option>
            }
        }
    </select>
    <InputNumber id="level" class="form-control"
            @bind-Value="stats.CharLevel"/>
    <p></p>
    <button type="submit" class="btn btn-primary" disabled="@isLoading">
        @if (isLoading) {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>Loading...</span>
        } else {
            <span>Add</span>
        }
    </button>
    } 
</EditForm>

@code {
    private Character character = new Character();
    private Player player = new Player();
    private List<CharRace> races = new();
    private List<CharClass> classes = new();
    @* private List<RaceVar> ?varraces; *@
    private bool isLoading = false;
    private bool playervalidated = false;
    private bool pinvalidated = false;
    private bool usernamevalidated = false;
    private Stats stats = new Stats();

    protected override async Task OnInitializedAsync()
    {
        await LoadEverything();
    }

    public async Task LoadEverything()
    {
        races = await charRaceApiService.GetAllRacesPerCampaign("Fantasy") ?? new List<CharRace>();
        classes = await charClassApiService.GetAllCharClasses() ?? new List<CharClass>();

    }

    // Method to handle form submission
    private async Task HandleValidSubmit()
    {
        isLoading = true;
        // Validate form inputs
        if (string.IsNullOrEmpty(character.CharName))
        {
            isLoading = false;
            return;
        }

        await CheckValidity();
        if (!playervalidated) {
            isLoading = false;
            return;
        }

        await characterBusiness.GiveStats(character, stats, player);

        logger.LogInformation("I updated a character and hopefully added stats and will now do a navigate!");

        NavigationManager.NavigateTo("/characters");
    }

   

    private async Task CheckValidity() {
        usernamevalidated = await CheckUsernameValidity();
        pinvalidated = await CheckPinValidity();
        if(usernamevalidated && pinvalidated) {
            playervalidated = true;
        }
        StateHasChanged();
    }

    private async Task<bool> CheckUsernameValidity() {
        List<Player>? listplayers = await playerApiService.GetAllPlayers();
        if (listplayers == null || listplayers.Count == 0) {
            return false;
        } else {
            foreach (Player playercheck in listplayers) {
                if (playercheck.Username == player.Username) {
                    player.Id = playercheck.Id;
                    return true;
                }
            }
            return false;
        }
    }

    private async Task<bool> CheckPinValidity() {
        List<Player>? listplayers = await playerApiService.GetAllPlayers();
        if (listplayers == null || listplayers.Count == 0) {
            return false;
        } else {
            foreach (Player playercheck in listplayers) {
                if (playercheck.Username == player.Username && playercheck.Pin == player.Pin) {
                    StateHasChanged();
                    return true;
                }
            }
            return false;
        }
    }


}
